<app-nav-bar></app-nav-bar>
<div class="content-container">
  <br>
  <div class="containerNw">
    
    <!-- Main component for a primary marketing message or call to action -->
    <div class="about">
    <br>
      <img src="assets/images/logo.png" alt="logo" width="150" height="150" class="logoImg" >
      <h4 class="logoT">Gym Management System</h4>
      <br>
      <br>
      <ul>
      <li>Westminster Gym Management System is a web application which records all the data regarding the members of a certain fitness centre. Members can be either studetns, senior citizens or default members. </li>
      <li>Features of the system,</li>
              <ul>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;List of all the members<br>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Search members according to few parameters<br>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Manager can add, view, delete, sort, save to a file the details of the system
              </ul>
      <li>Developed using Spring, Angular and Mongo DB.</li>
      </ul>
      <br>
      <h5 class="logoT">Developer: Athindu U.</h5>

    </div>

  </div>




</div>
