<nav class="e" role="navigation">
<div class="v"><h4 class="topic">&nbsp;&nbsp;&nbsp;Westminster Gym Management System</h4> 
</div>
<div class="sidebar-container">
  <ul class="sidebar-navigation">
  <br><br>  
    <li>
      <a routerLink="">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/members">
        <i class="fa fa-users" aria-hidden="true"></i> Members List
      </a>
    </li>
    <li>
      <a routerLink="/search">
        <i class="fa fa-search" aria-hidden="true"></i> Search
      </a>
    </li>
    <li>
      <a routerLink="/about">
        <i class="fa fa-info-circle" aria-hidden="true"></i> About
      </a>
    </li>
  </ul>
</div>

</nav>
